.footer {
  margin-top: 5rem;
  width: 100%;
  padding: 1rem;
  background-color: var(--color-white-secondary);
  color: var(--color-grey-primary);

  &-container {
    padding: 0.5rem;
    color: var(--color-grey-primary);
    border-radius: 1.5rem;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);

    &__copyright {
      font-size: 1.6rem;
      grid-column: 1 / 2;
      grid-row: 1 / 2;

      & a:link {
        text-decoration: none;
      }
    }

    &__powered {
      grid-column: 1 / 2;
      grid-row: 2 / -1;

      & a:link {
        text-decoration: none;
      }

      &__img {
        grid-column: 2 / -1;
        grid-row: 1 / -1;
        margin-left: 3%;
      }
    }
  }
}
